@import url(https://allfont.net/allfont.css?fonts=roboto-regular);

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family:Roboto-Regular,'Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif;
  font-size: 16px;
  background-color:#eff0f5;
}
a{
text-decoration: none;
}
ul{
  list-style: none;
}
/* pre loader */
.preloader{
  display: none;
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index: 1000;
  background:url("loader.gif")#fff no-repeat center;
}
body.loading{
  overflow: hidden;
}
body.loading .preloader{
  display:block;
}
/* header.php */
.header{
  position: sticky;
  top:0;
  width: 100%;
  height: 4rem;
  background-color: #fff;
  z-index:100;
}
.nav__bar{
  max-width:78rem;
  height:100%;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  color: rgb(20,25,112);
  font-weight: 700;
  font-size:1.6rem;
  position: relative;
}
.logo:after{
  content: "";
  position: absolute;
  bottom:-1px;
  left:0;
  width:3.2rem;
  height:0.25rem;
  background-color: rgb(239,87,0);
}
.nav__items{
  display:flex;
  align-items: center;
}

.gray-text{
  font-size: 0.75rem;
  transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  text-transform: uppercase;
  color: #9e9e9e;
}
.gray-text:hover{
color:rgb(239,87,0);
}
.blue-text{
  text-transform: capitalize;
  color: #0f1568;
  font-size:0.85rem;
}
.nav__items li + li{
  margin-left: 2rem;
}
@media (max-width: 22em){
  .nav__bar{
  padding: 0 0.5rem;
}
  .nav__items li + li{
  margin-left: 0.75rem;
}
}
.cart-list{
  position: relative;
}
.cart-list span{
  position: absolute;
  top:-10px;
  right:-10px;
  display: inline-block;
  padding: 0.05rem 0.25rem;
  background-color: rgb(239,87,0);
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
  font-size: 0.75rem;
  color:#fff;
}

.cart{
  font-size: 1.3rem;
  color: rgb(101, 101, 190);
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}
.cart:hover{
  color:blue;
}

/* Index page css */
.hero{
  width:100%;
  height: 10rem;
  background: url("banner.jpg") no-repeat center center/cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero:after{
  content:"";
  position: absolute;
  height: 100%;
  widows: 100%;
  top:0;
  right:0;
  left:0;
  bottom:0;
  background: rgba(0,0,0,0.35);
}
.hero_text{
  color: #fff;
  z-index:1;
}
@media (max-width: 22em){
  .hero_text{
    font-size: 1.5rem;
  }
}

.items_container{
  max-width:78rem;
  padding: 0 1rem;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 0.8rem;
  grid-gap:0.8rem;
  justify-content: center;
}
@media (max-width: 30rem){
  .items_container{
  grid-template-columns: repeat(auto-fit,minmax(110px, 180px));
}
}
.item_card{
  width:100%;
  cursor: pointer;
  transition: box-shadow 0.4s linear;
  -webkit-transition: box-shadow 0.4s linear;
  -moz-transition: box-shadow 0.4s linear;
  -ms-transition: box-shadow 0.4s linear;
  -o-transition: box-shadow 0.4s linear;
  background-color:#fff;
  position: relative;
}
.item_card:hover{
  box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.25);
}
.item_img{
  max-width: 250px;
  background:#fff;
}
.item_img img{
  height: 100%;
  width:100%;
}
.item_desc{
  padding: 1rem 0.5rem;
  background-color: #fff;
  text-align:center;
}
.item_title{
  color:#111;
  font-size: 1.1rem;
  font-weight: 600;
}
.item_detail{
  font-size: 0.85rem;
  color: #333;
  margin: 0.6rem 0;
}
.item_price{
  color: #f57224;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin: 0.5rem 0 2.7rem;
}
/* login / register */
.form__container{
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
}
.section__header{
  font-size: 1.3rem;
  color: #424242;
  font-weight: 400;
  margin: 2rem 0 1.5rem;
  text-align:center;
}
.form__wrapper-login{
  background-color: #fff;
  padding: 1rem;
  border-radius:0.5rem;
  -webkit-border-radius:0.5rem;
  -moz-border-radius:0.5rem;
  -ms-border-radius:0.5rem;
  -o-border-radius:0.5rem;
}
.form__login{
  max-width:25rem;
  margin: 0 auto;
}
.form__element label{
  display:block;
  margin-bottom: 0.3rem;
  font-size: 0.85rem;
}
.form_input{
  width: 100%;
  height: 2.2rem;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid #bbb;
}
.form_input:active,
.form_input:focus{
  outline: 1px solid #33a133;
  border: none;
}
.btn__group{
  display: flex;
  align-items: center;
  padding:5px;
}
.btn__group > *{
  margin: 5px;
}
.btn{
  cursor:pointer;
  border:none;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
   border-radius:8px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  -ms-border-radius:8px;
  -o-border-radius:8px;
  color: #fff;
  font-size:0.8rem;
}
.btn-cart{
  margin: 0.5rem 0;
  background-color:#f57224;
  color: #fff;
  padding: 0.5rem;
  font-size:1.05rem;
  text-align:center;
  border-radius:8px;
  cursor:pointer;
  border:none;
  position: absolute;
  bottom: 8px;
  right: 50%;
  transform:translateX(50%);
  -webkit-transform:translateX(50%);
  -moz-transform:translateX(50%);
  -ms-transform:translateX(50%);
  -o-transform:translateX(50%);
}
.btn-cart:active,
.btn-cart:focus,
.btn-cart:hover{
  outline: none;
  background-color:#b44f14;
}
.btn_pry{
  display:block;
  background-color: rgb(14, 92, 14);
}
.btn__login{
  background-color:#f57224;
  transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
}
.btn__login:active,
.btn__login:focus,
.btn__login:hover{
  outline: none;
  background-color:#b44f14;
}
.form_text{
  font-size: 0.85rem;
  color: #757575;
  margin: 1rem 0;
  text-align: center;
}
.btn_link{
  color: #1a9cb7;
  font-weight:600;
}
.errMsg{
  display:block;
  color: red;
  font-weight:600;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.passErr{
  color:red;
  font-size:0.8rem;
  font-weight:600;
  margin-bottom:0.5rem;
  display:none;
}
.passErr.active{
  display: block;
}

/* Orders page */

.orders{
  max-width: 62rem;
  padding: 0.5rem;
  margin: 0 auto;
}
.order{
  background-color:#fff;
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
}
.item{
  width:100%;
  text-align: left;
}
.item__name{
  max-width: 5rem;
}
.item th{
  padding-bottom: 0.5rem;
  font-size: 0.85rem;
}
.item td{
  padding: 0.25rem 0.15rem 0.25rem;
}
.order__id{
  margin: 0.8rem 0 0;
  padding-top:0.4rem;
  border-top: 1px solid #ddd;
}
.order__date{
  font-size: 0.75rem;
}
.status{
  text-align: right;
  font-style:italic;
  font-weight: 600;
  font-size: 0.8rem;
}
