*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color:aliceblue;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
.container{
  max-width:68rem;
  margin:0 auto;
  padding: 0 1rem;
  position: relative;
}
.header__text{
  text-align:center;
  margin: 2rem;
  font-size: 2rem;
}

.form__wrapper-login{
  max-width: 30rem;
  margin: 0 auto;
  padding: 1.5rem;
}
.form__login{
  background-color: #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 2rem;
}
.errMsg{
  display:block;
  color: red;
  font-weight:600;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
label{
  display: block;
  margin-bottom: 0.4rem;
  color: #333;
  font-size:1.2rem;
}
.form_input{
  margin-bottom: 0.8rem;
  width:100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid rgb(184, 183, 183);
}
.btn{
  cursor:pointer;
  padding: 0.6rem 0.9rem;
  font-weight:600;
  text-transform: uppercase;
  border:none;
  text-align:center;
}
.btn__login{
  width:100%;
  margin-top: 1rem;
  background-color:rgb(18, 136, 18);
  color:#fff;
}

.table__wrapper{
  overflow-x: auto;
}
.table{
  width:100%;
  border-collapse: collapse;
}
.table thead,
.table td{
  padding:8px;
  border: 1px solid #333;
  text-align:left;
}
.table td{
  max-width:10rem;
}
.table thead{
  font-weight:600;
  text-align:center;
}

/* products style */
.add__btn{
  text-align:center;
  margin-bottom: 0.8rem;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}
.p__image img{
  width:80px;
}
.act{
  padding: 0.3rem;
  font-size:1.5rem;
}
.act__del{
  color:red;
}
.act__ed{
  color:green;
}
.bck_btn{
  display: inline-block;
  text-decoration: underline;
  position: absolute;
}


/* add product style */
.form__wrapper-product{
  max-width: 35rem;
  padding: 1rem;
  margin: 0 auto;
}
.input__wrapper{
  display: flex;
}
.input__wrapper > div + div {
  margin-left:0.5rem;
}
.text_area{
  width: 100%;
  height: 100px;
  padding: 0.5rem;
  font-size: 1.2rem;
}

@media (max-width: 30rem){
  .input__wrapper{
  display: block;
}
}